:root{

--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

--Very-dark-blue1: hsl(217, 54%, 11%); 
--Very-dark-blue2: hsl(216, 50% , 16%);  
--Very-dark-blue3: hsl(215, 32%, 27%);     
--White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Very-dark-blue1)
}
.container{
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--Very-dark-blue2);
    margin: 1rem;
}
.img-container{
}
.eq{
    width: 100%;
    border-radius: .5rem;
}


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
    }